<div class="row">
	<div class="col-11">
		<h1>Subtypes list</h1>
	</div>
	<div class="col align-self-center">
		<div class="page-link" (click)="add()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
				viewBox="0 0 16 16">
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			<span>Add</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<app-subtype-table [subtypes]="subtype_list"></app-subtype-table>
	</div>
</div>
<div class="row">
	<div class="col">
		<app-pagination [totalPages]="totalSize" [pageSize]="pageSize" (pageSelected)="changePage($event)">
		</app-pagination>
	</div>

</div>