<h1>Subtypes list</h1>
<div class="row">
	<div class="container">
		<app-gen-table [rowNum]="true" [tableHeader]="tableHeader" [tableData]="subtype_list" [operations]="operations">
		</app-gen-table>
		<app-pagination [totalPages]="totalSize" [pageSize]="pageSize" (pageSelected)="changePage($event)">
		</app-pagination>
		<button *ngIf="!offer_not_found" (click)="addNew()" type="button" class="btn btn-primary">Add</button>
		<small class="text-danger" *ngIf="delete_validation">
			Cant delete subtype if there is an offer of that subtype</small>
		<small class="text-danger" *ngIf="delete_not_found_validation">
			Subtype doesnt exist</small>
		<small class="text-danger" *ngIf="unauthorized">
			Unauthorized action</small>
		<small class="text-danger" *ngIf="offer_not_found">
			Unauthorized action</small>
	</div>
</div>