<table class="position-absolute search">
    <tr>
        <td><select [value]="searchField" (input)="searchField = $event.target.value">
            <option>title</option>
            <option>description</option>
            <option>subtype</option>
            <option>type</option>
            <option>subscribers</option>
            <option>grade</option>
        </select></td>
        <td><input type="text" [value]="searchValue" (input)="searchValue = $event.target.value" /></td>
        <td><button class="search-btn" (click)="search(1)">Search</button></td>
        <td><button class="discard-btn" (click)="discard()">Discard</button></td>
    </tr>
</table>
<div class="position-absolute options">
    <app-option-navbar></app-option-navbar>
</div>
<div id="offer-view" class="position-absolute offer-view shadow-lg" [@widthGrow]="viewState">
    <app-offer-view [selectedOffer]="selectedOffer" ></app-offer-view>
</div>
<app-pagination class="position-absolute pagination-options" [totalPages]="totalSize" [pageSize]="pageSize" (pageSelected)="changePage($event)">
</app-pagination>
<div class="wrapper">
    <div class="demo-area">
        <div tabindex="1" id="map" class="map">
            <div id="mouse-position"></div>
            <link rel="stylesheet" href="https://openlayers.org/en/v6.2.1/css/ol.css" type="text/css">
        </div>
        <div #popup class="popup" [hidden]="true"></div>
    </div>
</div>