<table>
    <tr>
        <th colspan="3">
            <h1>Update cultural offer: {{id}}</h1>
        </th>
    </tr>
    <tr style="height: 30px;"></tr>
    <tr>
        <td style="width: 30%;">
            <p>Title</p>
        </td>
        <td style="width: 5%;"></td>
        <td style="width: 65%;"><input id="title" type="text" [value]="title" (input)="title = $event.target.value"></td>
    </tr>
    <tr>
        <td style="width: 30%;">
            <p>Description</p>
        </td>
        <td style="width: 5%;"></td>
        <td style="width: 65%;"><textarea id="description" [value]="description" (input)="description = $event.target.value"></textarea></td>
    </tr>
    <tr style="height: 10px;"></tr>
    <tr>
        <td>
            <p>Upload pictures:</p>
        </td>
        <td colspan="2" rowspan="2">
            <img *ngFor='let url of images' [src]="url" height="100" width="100px" style="margin: 3px;"> <br/> <br>
        </td>
    </tr>
    <tr>
        <td><input type="file" accept="image/*" (input)="addImage($event)"></td>
    </tr>
    <tr style="height: 50px;"></tr>
    <tr>
        <td></td>
        <td></td>
        <td><button class="add-btn" (click)="addOffer()">Update</button></td>
    </tr>
</table>