<div class="btn-group m-4">
    <a routerLink="/login" *ngIf="!authority" class="btn btn-secondary rounded-0" role="button" aria-pressed="true">Login</a>
    <a class="btn btn-secondary rounded-0" *ngIf="!authority" role="button" aria-pressed="true">Register</a>
    <a class="btn btn-secondary rounded-0" *ngIf="['ROLE_GUEST', 'ROLE_ADMIN'].indexOf(authority) !== -1" role="button" aria-pressed="true">Profile</a>
    <a class="btn btn-secondary rounded-0" *ngIf="authority == 'ROLE_ADMIN'" role="button" aria-pressed="true">Cultural offers</a>
    <a routerLink="/offer-types" class="btn btn-secondary rounded-0" *ngIf="authority == 'ROLE_ADMIN'" role="button" aria-pressed="true">Offer types</a>
    <a class="btn btn-secondary rounded-0" *ngIf="['ROLE_GUEST', 'ROLE_ADMIN'].indexOf(authority) !== -1" role="button" aria-pressed="true" (click)="logOut()">Log out</a>
</div>