<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="content">Content</label>
                <input 
                    formControlName="content"
                    id="content" 
                    type="text" 
                    class="form-control">
                <br>
                <div *ngIf="submitValidate" class="alert alert-danger">
                    <div *ngIf="submitValidate">Content is required.</div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="file">File</label>
                <input 
                    formControlName="file"
                    id="file" 
                    type="file" 
                    class="form-control"
                    multiple="" 
                    (change)="onFileChange($event)"
                    >
                    <br>
                    <div *ngIf="notAnImage" class="alert alert-danger">
                        <div *ngIf="notAnImage">Only image files are supported.</div>
                    </div>
            </div>
            <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/> <br>
            <button class="btn btn-primary" type="submit" id="submit-comment">Submit</button>
        </form>
    </div>
</ng-template>

<button class="btn btn-sm btn-success" (click)="open(content)" id="add-comment"
    *ngIf = "logged && role == targetRole">Add comment</button>
