<div class="container lg-font">
    <div class="row cover-image" *ngIf="selectedOffer && selectedOffer?.imageUrls.length !== 0">
        <img src="{{ selectedOffer.imageUrls[3] }}" class="img-fluid">
    </div>
    <hr class="mb-2" />
    <div class="row mt-2">
        <div class="col-4">Location:</div>
        <div class="col-8">{{ selectedOffer?.address }}</div>
    </div>
    <hr class="mb-2" />
    <div class="row">
        <div class="col-4">Type:</div>
        <div class="col-8">{{ selectedOffer?.offerType }}</div>
    </div>
    <div class="row">
        <div class="col-4">Subtype:</div>
        <div class="col-8">{{ selectedOffer?.subTypeName }}</div>
    </div>
    <hr class="mb-4" />
    <div class="row mb-2">
        <div class="col">Description</div>
    </div>
    <div class="row text-break w-100">
        <div class="col">{{ selectedOffer?.description }}</div>
    </div>
    <hr class="mb-2" />
    <div class="row">
        <div class="col">Images</div>
    </div>
    <hr/>
    <div *ngIf="selectedOffer && selectedOffer?.imageUrls.length !== 0" class="row ml-1">
        <div class="image-holder d-inline-block mr-1 mb-1" *ngFor="let imageUrl of selectedOffer.imageUrls">
            <img class="img-fluid rounded" [src]="imageUrl" (click)="showGallery(selectedOffer.imageUrls.indexOf(imageUrl))">
        </div>
    </div>
    <div *ngIf="selectedOffer && selectedOffer?.imageUrls.length === 0" class="row">
        <div class="col">No uploaded images for this offer</div>
    </div>
</div>