<table id="heading">
    <tr>
        <td style="width: 20%;"><button class="offers-btn" (click)="back()">All offers</button></td>
        <td style="width: 60%;">
            <h1>All offer news: {{offerId}}</h1>
        </td>
        <td style="width: 20%;"><button class="home-btn" (click)="home()">Home</button></td>
    </tr>
</table>
<div class="container">
    <app-gen-table id="news" [rowNum]="true" [tableHeader]="tableHeader" [tableData]="news" [fieldDecoration]="headerDecoration" [operations]="operations">
    </app-gen-table>
    <app-pagination [totalPages]="totalSize" [pageSize]="pageSize" (pageSelected)="changePage($event)">
    </app-pagination>
    <button (click)="addNew()" type="button" class="btn btn-primary">Add</button>
</div>

<ng-template #add_news let-modal>
    <app-add-offer-news [offerId]="offerId" (sendEvent)="saveChange()"></app-add-offer-news>
</ng-template>

<ng-template #edit_news let-modal>
    <app-edit-offer-news [id]="edit_id" (sendEvent)="saveChange()">

    </app-edit-offer-news>
</ng-template>

<ng-template #content let-modal>
    <h3>{{view_title}}</h3>
    <p>{{view_desc}}</p>
    <div style="margin-left: auto; margin-right: auto;">
        <img *ngFor='let url of view_images' [src]="url" height="100" width="100px" style="margin: 3px;"> <br/> <br>
    </div>
</ng-template>