<div class="modal-header">
    <h4 class="modal-title" id="app-change-password">Change password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <div class="input-group">
                <input id="oldPassword" name="oldPassword" type="password" [(ngModel)]="password.oldPassword" class="form-control">
            </div>

            <label for="newPassword">New password</label>
            <div class="input-group">
                <input id="newPassword" name="newPassword" type="password" [(ngModel)]="password.newPassword"
                    class="form-control">
            </div>
            <label for="repeated">Repeat password</label>
            <div class="input-group">
                <input id="repeated" name="repeated" type="password" [(ngModel)]="password.repetedPassword"
                    class="form-control">
            </div>
        </div>
    </form>
</div>
<small class="text-danger" *ngIf="bad_request">
    Invalid password</small>
<small class="text-danger" *ngIf="unauthorized">
    Unauthorized action</small>
<small class="text-danger" *ngIf="not_found">
    Guest not found</small>
<small class="text-danger" *ngIf="bad_repeat">
    Bad repeated password</small>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="change()">Change</button>
</div>