<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of tableHeader">
                    {{ header.headerName }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td scope="row" *ngFor="let header of tableHeader" [innerHTML]="generateField(item, header) | safeHtml">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
</div>